{% extends 'layouts/main.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/home.css') }}">   
    <div class="container" style="
        margin-top: 25px;   
        display: flex;
        ">
        {% with mode_id=mode_id, form=form, playlists=playlists, modes=modes %}
            {% include "forms/selectPlaylist.html" %}
        {% endwith %}
        <iframe src="{{ url_for('/dash/') }}" width="100%" height="1000px"></iframe>
    </div>
    <div class="container" style="  
        display: flex;
        ">
        {% for mode in modes %}
            <a href="#" class="btn btn-primary btn-lg btn-block" style="width: 25%" onclick="startMode('{{ mode.id}}')">{{ mode.name }}</a>
        {% endfor %}
    </div>
    <script>
        function startMode(modeId) {
            fetch('/startMode', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token() }}',
                    'mode_id': modeId
                },
                body: JSON.stringify({ mode_id: modeId })
            })
            .then(response => {
                console.log("startMode response", response)
                if (response.ok) {
                    console.log("startMode success", response)
                } else {
                    if (response.status === 405) {
                        showError("No active device found using spotify. Please open spotify on a device and try again.");
                    } else {
                        console.log("startMode error not 405 no active device", response)
                    }
                }
            })
            .catch(error => {
                console.log("startMode error", error)
            });
        }
        function showError(message) {
            const errorId = "error-message";
            let errorDiv = document.getElementById(errorId);

            if (errorDiv) {
                const messageSpan = errorDiv.querySelector('.message-text');
                messageSpan.textContent = message;
            } else {
                errorDiv = document.createElement("div");
                errorDiv.id = errorId;
                errorDiv.classList.add("alert", "alert-warning", "fade", "in");

                const closeBtn = document.createElement("a");
                closeBtn.classList.add("close");
                closeBtn.setAttribute("data-dismiss", "alert");
                closeBtn.innerHTML = "&times;";
                errorDiv.appendChild(closeBtn);

                const textNode = document.createTextNode(message);
                errorDiv.appendChild(textNode);

                const footer = document.getElementById("footer");
                footer.parentNode.insertBefore(errorDiv, footer);
            }
        }
    </script>
{% endblock %}