{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  {% if current_user.is_authenticated %}
    {% if not current_user.spotify_authorized %}
      <li><a href="#" onclick="document.getElementById('user_authorize_spotify').submit();return false;">Authorize Spotify</a></li>
      <form id="user_authorize_spotify" method="get" class="form" action="{{ url_for('user_authorize_spotify') }}"></form>
    {% endif %}
    {% if not current_user.fitbit_authorized %}
    <li><a href="#" onclick="document.getElementById('user_authorize_fitbit').submit();return false;">Authorize Fitbit</a></li>
    <form id="user_authorize_fitbit" method="get" class="form" action="{{ url_for('user_authorize_fitbit') }}"></form>
    {% endif %}
  {% else %}
  <h3>Register or Login to access dashboard</h3>
  {% endif %}
{% endblock %}